h1 {
    font-family:verdana;
    text-align:center;
}
h2, 
h3 {
    font-size:24px;

}
body {background-color: rgb(255,255,204);font-family:helvetica;}
h2 {text-align:center;}
.sophmore {width:30%; position:absolute; top:30%; left:35%;text-align:center;}
.piano {width:30%;position:absolute;top:50%;left:35%;text-align:center;}
.food {width:30%;position:absolute;top:65%;left:35%;text-align:center;}
.travel {width:30%; position:absolute; top:85%; left:35%;text-align:center;}
h2,p {text-align:center;}
.everest {width:30%; position:absolute; top:30%;left:0%;}
.beach {width:30%;position:absolute;top:30%;left:70%;}
.key {width:30%;position:absolute;top:60%;left:0%;}
.rice {width:30%;position:absolute;top:60%;right:0%;}