h1 {
    font-family:verdana;
    text-align:center;
}
h2, 
h3,
h4,
h5{
    font-size:24px;
}
body {
    /*background-image:url("https://33.media.tumblr.com/0b3ead515381471e109dd9b16e22cfbf/tumblr_nefchkIlBV1rvn6njo1_500.gif");*/
    background: linear-gradient(white, rgb(204,255,255));
    background-size:100% 1890px;
    font-family:helvetica;
}
/*div {*/
    /*vertical-align: top;*/
    /*display: inline-block;*/
}
/*#images {*/
    /*white-space:nowrap;*/
}
/*#ram {*/
    /*width:20%;*/
    /*padding-bottom:20%;*/
}
/*#motherboard {*/
    /*width:40px;*/
    /*width:50%;*/
    /*padding-right:5%;*/
    /*padding-left:5%;*/
}
/*#cpu {*/
    /*width:20%;*/
    /*position: relative;*/
    /*transform: translateY(-70%)*/
}
.flip-container {
        margin: 50px;
        perspective: 500;
        display: inline-block;
    }
    .flip-container:hover .card {
        transform: rotateY(180deg);
    }
    .card, .back {
        width: 240px;
        height: 240px;
    }
    .card {
        transition: 0.5s;
        transform-style: preserve-3d;
        position: relative;
    }
    .front, .back {
        backface-visibility: hidden;
        position: absolute;
    }
    .front {
        z-index: 1;
        transform: rotateY(180deg);
    }
    .back {
        z-index: 2; 
        transform: rotateY(0deg);
    }
    

.flip-containers {
        margin-left:1050px;
        margin-bottom:500px;
        perspective:500;
        display: inline-block;
}
.flip-containers:hover .card {
        transform: rotateY(180deg);
    }
#des-motherboard {
    text-align:center;
    text-align:justify;
    position:absolute;
    top:132%; 
};
.back {
    padding:center;
}
/*.card {*/
    /*border:2px solid;*/
    /*border-radius:25px;*/
}
p {
    margin-right:5px;
    margin-left:5px;
}
.front {
    width:240px
    height:300px;
}
h2 {
    /*text-align center;*/
    /*margin:center;*/
    /*position:absolute;*/
    /**/
}
.round {
    border-radius:25px;
    margin-left:10px;
    margin-bottom:10px;
}

        
