h1 {
    font-family:verdana;
    text-align:center;
}
h2, h3 {
    font-size:24px;
}
body {
    background-color: rgb(255,255,204);
    font-family:helvetica;
}
img {
    width:40%;
    position:absolute;
    top:30%;
    left:52%;
}
p {
    width:47.5%;
}