#navbar {
    border: double;
    border-width: 10px;
    color: rgb(102, 204, 204);
    font-weight: bold;
    text-align: center;
    font-family: arial;
}

#navbar li {
    display: inline-block;
}

.spacing {
    margin: 15px;
}

.spacing {
    font-size: 18px;
    border: none;
    transition: 0.1s\ linear;
}

.spacing:hover {

    font-size: 23px;
}
